@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --prussian-blue: #023047;
    --blue-green: #219EBC;
    --selective-yellow: #FFB703;
    --ut-orange: #FB8500;
    --sky-blue: #8ECAE6;
}